version: '3.4'
services:

  # vpn:
  #   container_name: vpn
  #   image: dperson/openvpn-client:latest
  #   # image: kylemanna/openvpn
  #   # image: evolvedm/openvpn-rpi
  #   cap_add:
  #     - net_admin # required to modify network interfaces
  #   restart: unless-stopped
  #   volumes:
  #     - /dev/net/tun:/dev/net/tun # tun device
  #     - /media/Pi-Server/Plex/vpn:/vpn # OpenVPN configuration
  #   ports:
  #     - 8112:8112 # port for deluge web UI to be reachable from local network
  #   command: '-r 192.168.1.0/24' # route local network traffic

  deluge:
    container_name: deluge
    # image: linuxserver/deluge:102
    # image: jordancrawford/rpi-deluge
    # image: sscraggles/docker-deluge-openvpn
    build: https://github.com/sscraggles/docker-deluge-openvpn.git
    network_mode: host # run on the host network directly, web UI on port 8112
    ports: 
      - "9091:9091"
    environment:
      - PUID=1000 # default user id, for downloaded files access rights
      - PGID=1000 # default group id, for downloaded files access rights
      - TZ=Europe/Paris # timezone
      - OPENVPN_PROVIDER=PIA
      - OPENVPN_CONFIG=Netherlands
      - OPENVPN_USERNAME=p8732447
      - OPENVPN_PASSWORD=beadleJ_19
      - WEBPROXY_ENABLED=false
      - DROP_DEFAULT_ROUTE=true
      - LOCAL_NETWORK=192.168.0.68/16
    volumes:
      - /etc/localtime:/etc/localtime:ro # time
      - /media/Pi-Server/Plex/downloads/ongoing:/downloads # download folder
      - /media/Pi-Server/Plex/config/deluge:/config # config files

  # delugevpn:
  #   restart: unless-stopped
  #   image: binhex/arch-delugevpn
  #   container_name: delugevpn
  #   volumes:
  #     - /media/Pi-Server/Plex/downloads/ongoing:/downloads # download folder
  #     - /media/Pi-Server/Plex/config/deluge:/config # config files
  #   ports:
  #       - "32772:58846"
  #       - "32773:58946"
  #       - "32770:8112"
  #       - "32771:8118"
  #   environment:
  #       - VPN_USER=p8732447
  #       - VPN_PASS=beadleJ_19
  #       - VPN_PROV=pia
  #       - STRICT_PORT_FORWARD=no
  #       - NAME_SERVERS=209.222.18.222,37.235.1.174,1.1.1.1,8.8.8.8,209.222.18.218,37.235.1.177,1.0.0.1,8.8.4.4
  #       - DEBUG=true
  #       - PGID=100
  #       - PUID=1008
  #       - ENABLE_PRIVOXY=yes
  #       - VPN_ENABLED=yes
  #       - UMASK=000
  #   network_mode: "bridge"

  jackett:
    container_name: jackett
    image: linuxserver/jackett:latest
    restart: unless-stopped
    network_mode: host
    environment:
      - PUID=1000 # default user id, for downloaded files access rights
      - PGID=1000 # default group id, for downloaded files access rights
      - TZ=Europe/Paris # timezone
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /media/Pi-Server/Plex/downloads/ongoing/torrent-blackhole:/downloads # place where to put .torrent files
      - /media/Pi-Server/Plex/config/jackett:/config # config files

  nzbget:
    container_name: nzbget
    image: linuxserver/nzbget:latest
    restart: unless-stopped
    network_mode: host
    environment:
      - PUID=1000 # default user id, for downloaded files access rights
      - PGID=1000 # default group id, for downloaded files access rights
      - TZ=Europe/Paris # timezone
    volumes:
      - /media/Pi-Server/Plex/downloads/ongoing:/downloads # download folder
      - /media/Pi-Server/Plex/config/nzbget:/config # config files

  sonarr:
    container_name: sonarr
    image: linuxserver/sonarr:latest
    restart: unless-stopped
    network_mode: host
    environment:
      - PUID=1000 # default user id, for downloaded files access rights
      - PGID=1000 # default group id, for downloaded files access rights
      - TZ=Europe/Paris # timezone
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /media/Pi-Server/Plex/config/sonarr:/config # config files
      - /media/Pi-Server/Plex/downloads/series:/tv # tv shows folder
      - /media/Pi-Server/Plex/downloads/ongoing:/downloads # download folder

  radarr:
    container_name: radarr
    image: linuxserver/radarr:latest
    restart: unless-stopped
    network_mode: host
    environment:
      - PUID=1000 # default user id, for downloaded files access rights
      - PGID=1000 # default group id, for downloaded files access rights
      - TZ=Europe/Paris # timezone
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /media/Pi-Server/Plex/config/radarr:/config # config files
      - /media/Pi-Server/Plex/downloads/movies:/movies # movies folder
      - /media/Pi-Server/Plex/downloads/ongoing:/downloads # download folder

  plex-server:
    container_name: plex-server
    image: jaymoulin/plex:latest
    restart: unless-stopped
    environment:
      - TZ=Europe/Paris # timezone
    network_mode: host
    volumes:
      - /media/Pi-Server/Plex/plex/db:/config # plex database
      - /media/Pi-Server/Plex/plex/transcode:/transcode # temp transcoded files
      - /media/Pi-Server/Plex/downloads:/data # media library