version: '3.4'
services:
  vpn:
    container_name: vpn
    image: dperson/openvpn-client:armhf
    cap_add:
      - net_admin # required to modify network interfaces
    restart: unless-stopped
    # command: 'cd / && sudo mkdir vpn'
    volumes:
      - /dev/net/tun:/dev/net/tun # tun device
      - ${HOME}/piplex/vpn:/vpn # OpenVPN configuration
    ports:
      - 8112:8112 # port for deluge web UI to be reachable from local network
    command: '-r 192.168.0.1/16' # route local network traffic

  deluge:
      container_name: deluge
      # image: linuxserver/deluge:102
      image: jordancrawford/rpi-deluge
      network_mode: host # run on the host network directly, web UI on port 8112
      environment:
        - PUID=1000 # default user id, for downloaded files access rights
        - PGID=1000 # default group id, for downloaded files access rights
        - TZ=Europe/Paris # timezone
      volumes:
        - ${HOME}/piplex/downloads/ongoing:/downloads # download folder
        - ${HOME}/piplex/config/deluge:/config # config files